
<div class="row m-0 dates">
    <div class="col-md p-md-0 d-flex align-items-center label mb-2">
        <!-- <label>{{ 'navigation.Period' | translate }}: </label> -->
        <label>პერიოდი:</label>
    </div>

    <div class="input-group col-md-2 search-dates">
        <input
            [formControl]="listForm.dateFrom"
            name="dateFrom"
            type="text"
            placeholder="დან"
            class="form-control"
            bsDatepicker
            [bsConfig]="{ isAnimated: true }"
        />
    </div>
    <div class="col-md p-md-0 d-flex align-items-center label between">
        <label>-</label>
    </div>
    <div class="input-group col-md-2 search-dates">
        <input
            [formControl]="listForm.dateTo"
            name="dateTo"
            type="text"
            placeholder="მდე"
            class="form-control"
            bsDatepicker
            [bsConfig]="{ isAnimated: true }"
        />
    </div>
    

    <div class="action-buttons col-md mb-2">
        <button
            class="btn gr-btn gr-input"
            [delay]="200"
            placement="bottom"
            tooltip="ძებნა"
            (click)="listForm.getMplanList()"
        >
            <i class="far fa-arrow-alt-circle-right"></i>
        </button>
    </div>
    <div class="radio-buttons col-md mb-2">
        <div class="col p-0 d-flex align-items-center">
            <input type="radio" id="sign1" class="gr-check" name="docSign" value="1" [formControl]="listForm.doc" />
            <label for="sign1" class="m-0 ml-1">ადგილობრივი</label>
        </div>
        <div class="col p-0 d-flex align-items-center">
            <input type="radio" id="sign2" class="gr-check" name="docSign" value="2" [formControl]="listForm.doc" />
            <label for="sign2" class="m-0 ml-1">საერთაშორისო</label>
        </div>
    </div>

</div>
