label {
    margin: 0;
    color: var(--text);
    font-weight: bold;
}
.search-dates {
    max-width: 130px !important;
    border-radius: 0.375rem;
    box-shadow: none;
}
.between {
    max-width: 5px !important;
}
.dates {
    margin-left: 10px !important;
}
.inputs .row {
    padding: 0 15px;
}

.action-buttons {
    max-width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px !important;
    .gr-btn {
        &:not(.white) {
            color: white;
        }
        i {
            font-size: 14px;
        }
    }
    button {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .label {
        max-width: 70px;
        display: flex;
        align-items: center;
    }

    .input-group {
        max-width: 250px;
    }

    .action-buttons {
        max-width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 !important;
        .gr-btn {
            &:not(.white) {
                color: white;
            }
            i {
                font-size: 14px;
            }
        }
        button {
            height: 100%;
        }
    }

    .radio-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 300px;
    }
}

