<div class="row m-0 table-responsive panel">
    <table class="table gr table-bordered table-hover table-condensed table-striped">
        <thead class="panel-head spaceactions">
            <tr>
                <th></th>
                <th>განაცხადის ნომერი</th>
                <th>ფაილის ტიპი</th>
                <th>გადაზიდვის სახეობა</th>
                <th>გამგზავნი ქვეყანა</th>
                <th>გამგზავნი სადგური</th>
                <th>მიმღები ქვეყანა</th>
                <th>მიმღები სადგური</th>
                <th>ტვირთი GNG</th>
                <th>ტვირთის წონა </th>
                <th>გზავნილის სახეობა</th>
                <th>ოპერაციის თარიღი</th>
            </tr>
            <tr>
                <th colspan="21">
                    <input
                        type="text"
                        class="form-control-sm gr-input w-100"
                        placeholder="ძებნა" (input)="Search()"
                        [formControl]="listFilter"
                    />
                </th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="
                    let item of listForm.table
                        | filter: listFilter.value
                        | slice: (listForm.page - 1) * listForm.pageSize:(listForm.page - 1) * listForm.pageSize + listForm.pageSize;
                    index as i
                "
                (click)="listForm.select(i)"
                [class.selected]="i == listForm.selectedRow"
            >
                 <td>
                    <a
                        [routerLink]="['/MPLAN/Mplan/' + item.headerId + '']"
                        target="_blank"
                        class="btn gr-btn gr-input white"
                        [delay]="200"
                        placement="bottom"
                        tooltip="{{ 'navigation.View' | translate }}"
                    >
                        <i class="far fa-edit"></i>
                    </a>
                </td> 
                <td ng-class="{ redColor: item.status == -1, greenColor: item.status == 512 }">
                    {{ item.statementType }}
                </td>
                <td>
                    {{ item.fileType }}
                </td>
                <td>
                    {{ item.loadType }}
                </td>
                
                <td>
                    {{ item.senderCountry }}
                    {{ item.senderCountryName }}
                </td>

                <td>
                    {{ item.senderStation }}
                    {{item.senderStationName}}
                  
                </td>

                <td>
                    {{ item.receiverCountry }}
                    {{ item.receiverCountryName }}
                </td>
                <td >
                    {{ item.receiverStation }}
                    {{item.receiverStationName}}
                </td>
                <td>
                    {{ item.tvirtiGNG }}
                    {{ item.tvirtiGNGName}}
                </td>
                <td>
                    {{ item.tvirtiWona }}
                </td>
                <td>
                    {{ item.gzavnilisSaxeoba }}
                </td>
                <td>
                    {{ item.dateFrom| date: 'dd/MM/yyyy' }}
                </td>
                <!-- <td>
                    <div *ngIf="+item.status < 32">
                        <button
                        (click)="loadTempFile(item.docId,  item.sr=='GR'?2:1)"
                            class="btn gr-btn"
                            [delay]="200"
                            placement="bottom"
                            tooltip="{{ 'navigation.SendStationFormed' | translate }}"
                        >
                            <i class="fas fa-file-pdf"></i>
                        </button>
                    </div>

                    <div *ngIf="+item.status >= 32 && +item.status <128">
                        <button
                        (click)="loadFile(item.docId, 0, item.sr=='GR'?2:1)"
                            class="btn gr-btn"
                            [delay]="200"
                            placement="bottom"
                            tooltip="{{ 'navigation.SendStationFormed' | translate }}"
                        >
                            <i class="fas fa-file-pdf"></i>
                        </button>
                    </div>
                </td>

                <td>
                    <div *ngIf="+item.status >= 128">
                        <button
                        (click)="loadFile(item.docId, 1,item.sr=='GR'?2:1)"
                            class="btn gr-btn"
                            [delay]="200"
                            placement="left"
                            tooltip="{{ 'navigation.DestinationStationFormed' | translate }}"
                        >
                            <i class="fas fa-file-pdf"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <button
                        (click)="showDocs(item.docId, item.status)"
                        [delay]="200"
                        placement="left"
                        tooltip="{{ 'navigation.ViewFiles' | translate }}"
                        class="btn gr-btn info"
                    >
                        <i class="fas fa-file-upload"></i>
                    </button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="listForm?.table?.length > listForm.pageSize" class="row m-0 justify-content-center mt-4 centerpaging">
    <div class="paginationss">
    <pagination
        [(ngModel)]="listForm.page"
        [totalItems]="listForm.table?.length"
        [boundaryLinks]="true"
        [itemsPerPage]="listForm.pageSize"
        [rotate]="true"
        [maxSize]="5"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
        class="pag"
    ></pagination>
</div>
</div>
